@import './src/styles/_mixin';

.success {
  &__list {
  }
  &__item {
    @include font(0.8125rem);
    margin-bottom: 20px;
  }
  &__title {
    @include font(0.8125rem, true);
    padding-right: 15px;
    display: inline-block;
  }
  &__value {
    display: inline-flex;
    word-break: break-word;
  }
  &__youtube {
    width: 26px;
    height: 18px;
    margin-left: 20px;
    path {
      fill: var(--main-icon-color);
    }
  }
  &__online {
    width: 26px;
    height: 18px;
    margin-left: 20px;
    path {
      fill: var(--main-icon-color);
    }
  }
  &__infinity {
    path {
      fill: var(--main-icon-color);
    }
  }
}
.date__wrapper {
  display: flex;
}
.form__field {
  &.comment__field {
    position: relative;
    textarea {
      overflow: hidden;
      &:focus {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 3px;
      }
    }
    .btn_invisible {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 5;
    }
  }
  &_disabled {
    opacity: 0.4;
    & > .checkbox {
      cursor: auto;
    }
  }
}
