@import './src/styles/_mixin';

.pagination {
  &__icon path {
    fill: var(--main-text-color);
  }
  & > button {
    position: relative;
  }
  .arrow__text {
    position: relative;
    top: -2px;
    right: 2px;
    @include tablet() {
      @include font(15px, true, 21px);
    }
    @include desktop() {
      @include font(18px, true, 24px);
    }
    @include mobile() {
      @include font(14px, false, 16px);
    }
    @include smallMobile() {
      @include font(13px, false, 16px);
    }
  }
  &__left {
    padding: 0;
    margin-right: -5px;
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
      & .pagination__icon path {
        fill: var(--second-text-color);
      }
    }
    .arrow__text {
      padding-left: 2px;
    }
  }
  &__right {
    padding: 0;
    cursor: pointer;
    .arrow__text {
      padding-right: 2px;
    }
  }
  &__date {
    margin: 0 6px;
    @include tablet() {
      @include font(19px, true, 24px);
      margin: 0 10px;
    }
    @include desktop() {
      @include font(22px, true, 28px);
    }
    @include mobile() {
      @include font(18px, true, 24px);
    }
    @include smallMobile() {
      @include font(18px, true, 24px);
    }
  }
}