@import './src/styles/_mixin';

.pagination {
  &__icon path {
    fill: var(--main-text-color);
  }
  & > button {
    position: relative;
  }
  .arrow__text {
    position: relative;
    top: -2px;
    right: 2px;
    @include mobile() {
      @include font(14px, false, 16px);
    }
    @include tablet() {
      @include font(15px, true, 21px);
    }
    @include desktop() {
      @include font(18px, true, 24px);
    }
  }
  &__left {
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
      & .pagination__icon path {
        fill: var(--second-text-color);
      }
    }
  }
  &__right {
    cursor: pointer;
  }
  &__date {
    @include font(18px, true, 25px);
    margin: 0 8px;
    font-weight: 600;
    @include mobile() {
      @include font(18px, true, 24px);
    }
    @include tablet() {
      @include font(19px, true, 24px);
    }
    @include desktop() {
      @include font(22px, true, 28px);
    }
  }
}