@import './src/styles/_mixin';

.pagination {
  &__icon path {
    fill: var(--main-text-color);
  }
  &__left {
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
      & .pagination__icon path {
        fill: var(--second-text-color);
      }
    }
  }
  &__right {
    cursor: pointer;
  }
  &__date {
    @include font(18px, true, 25px);
    margin: 0 5px;
  }
}