@import './src/styles/_mixin';

.timePicker {
  &__hours {
    width: 20px;
    text-align: center;
  }
  &__minutes {
    width: 20px;
    text-align: center;
  }
  &__separator {
    @include font(0.8125rem, true, 1);
    margin: 0 5px;
  }
  &__field {
    &__input {
      &.MuiInputBase-root {
        width: 64px;
        height: 40px;
        @include font(13px, false, 1);
        border-radius: 0;
      }
      & .MuiInputBase-input {
        padding: 10px;
      }
    }
  }
  .MuiInputBase-root {
    width: 64px;
    height: 40px;
    padding: 0;
    border-radius: 1px;
    input {
      padding: 10px;
      font-size: 13px;
      &:focus {
        border: 2px solid rgb(0, 0, 0) !important;
        border-radius: 3px;
      }
    }
    fieldset {
      border: 1px solid var(--light-dark-color) !important;
    }
  }
}
