@import "_mixin";

body {
  @include font();
  color: var(--main-text-color);
  background-color: var(--main-background);
  &.fixed {
    overflow: hidden;
  }
}
.container {
  @include tablet {
    margin: 0 auto;
    width: 748px;
  }
  @include tabletLandscape {
    width: 980px;
  }
  @include desktop {
    width: 1200px;
  }
}
