@import "./src/styles/_mixin";

.login_form_container {
  padding: 65px 55px 50px 55px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  
  @include mobile() {
    padding: 25px 0 25px;
  }
}

.login {
  width: 100%;
  display: block;
  position: relative;

  &__title {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    color: #555;
    padding-bottom: 35px;
  }

  &__subtitle {
    display: block;
    font-size: 18px;
    color: #555;
    line-height: 1.2;

    @include mobile() {
      font-size: 18px;
    }
  }

  &__message {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 15px;
    color: #000;
    position: absolute;
    top: 45px;
    &.error {
      color: var(--error)
    }
  }

  & .email {
    position: relative;
    width: 100%;
    
    margin-top: 50px;
    &__input {
      & .MuiInputBase-root {
        // height: 50px;

        @include font(18px);
      }
    }
  }

  &__signin {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    align-items: baseline;

    &__btn {
      @include mobile() {
        font-size: 15px;
      }
    }

    &__help {
      display: flex;
      flex-wrap: wrap;

      @include tabletPortrait() {
        margin-top: 50px;
        width: 500px;
      }

      @include mobile() {
        margin-top: 50px;
        width: 500px;
      }

      a {
        font-weight: bold;
        color: var(--main-btn);
        transition: color .3s;

        &:hover {
          color: var(--hover-btn-background);
        }
      }
    }
  }
}