@import './src/styles/_mixin';

.block {
  &__header {
    padding: 0 20px;
    margin-bottom: 16px;
    &.display__mobile {
      padding: 0 8px;
    }
    @include mobile() {
      display: none;
    }
  }
  &__content {
    min-height: 100px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 21px;
    @include tablet {
      border-radius: 10px;
    }
    @include tabletLandscape {
      border-radius: 10px;
    }
    @include desktop {
      border-radius: 10px;
    }
    @include mobile() {
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
      padding: 8px;
      display: none;
    }
  }
  .display {
    &__mobile {
      @include mobile() {
        display: block;
      }
    }
  }
}
